.screenShot{
    max-height: 500px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.imageData{
    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photoCaptureButton{
    transform: scale(2.3);
}