.itemEditFormQrScanContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.itemEditFormQrTextFieldDiv{
    flex-grow: 11;
}

.itemEditFormQrTextField{
    width: 100%;
}

.itemEditFormqrIconButton{
    transform: scale(2.3);
}

.itemEditFormPhoto{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: #ffc400;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    max-width: 500px;
}

.itemEditButton{
    width: 80%;
    height: 50px;
    max-width: 500px;
}