.qrTextField{
  width:138%;
}

.generalTextField{
  width: 80%;
  max-width: 500px;
}

.captureImageButton{
  width:  80%;
  height: 50px;
  max-width: 500px;
}

.createItemButton{
  width:  80%;
  height: 50px;
  max-width: 500px;
}