.editBoxFormQrTextFieldDiv{
  flex-grow: 11;
}

.editBoxFormQrTextField{
  width: 100%;
}

.editBoxFormGeneralTextField{
  width: 80%;
  max-width: 500px;
}

.editBoxFormCaptureImageButton{
  width:  80%;
  height: 50px;
  max-width: 500px;
}

.editBoxFormCreateItemButton{
  width:  80%;
  height: 50px;
  max-width: 500px;
}