.editBoxFormQrTextField{
    width: 138%;
    margin-right: 7px;
  }
  
  .editBoxFormGeneralTextField{
    width: 80%;
  }
  
  .editBoxFormCaptureImageButton{
    width:  80%;
    height: 50px;
    max-width: 500px;
  }
  
  .editBoxFormCreateItemButton{
    width:  80%;
    height: 50px;
  }