.leaveMoveEventHeader{
    background-color: #3f51b579;
    color: rgb(66, 66, 66);
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.leaveMoveEventButton{
    width: 60%;
    height: 50px;
}