.registerGeneralTextField{
    width: 80%;
    max-width: 500px;
}

.registerFormHeader{
    background-color: #3f51b5;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.registerFormButton{
    width: 80%;
    height: 50px;
    max-width: 500px;
}