.itemSearchHeader{
    background-color: #3f51b5ab;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.createNewItemButton{
    width: 80%;
    height: 50px;
    max-width: 500px;
}

.itemSearchSubHeader{
    background-color: #3f51b579;
    color: rgb(66, 66, 66);
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.searchItemButton{
    width:  80%;
    height: 50px;
    max-width: 500px;
}
.itemSearchTextField{
    width: 138%;
    margin-right: 7px;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;    
}

.qrIconButton{
    transform: scale(2.3);
}